<!-- NAVBAR -->
<app-nav-bar ></app-nav-bar>
<!-- NAVBAR -->

<!-- BODY -->
<router-outlet></router-outlet>
<!-- BODY -->

<!-- HOME PAGE 
<app-home></app-home>-->
<!-- HOME PAGE -->

<!-- FOOTER -->
<app-footer></app-footer>
<!-- FOOTER -->

  <!--<script src="../assets/js/jquery.min.js"></script>
  <script src="../assets/js/bootstrap.min.js"></script>
  <script src="../assets/js/slick.min.js"></script>
  <script src="../assets/js/nouislider.min.js"></script>
  <script src="../assets/js/jquery.zoom.min.js"></script>
  <script src="../assets/js/main.js"></script>-->